.details p {
    font-size: 1.1rem;
    width: 50%;
    margin-bottom: 2rem;
}

.details h2 {
    font-size: 2.55rem;
}

@media(max-width: 650px) {

    .details h2 {
        text-align: center;
    }

    .details p {
        margin: 0 auto;
        width: 90%;
    }
}