.details p {
    font-size: 1.1rem;
    width: 65%;
    margin-bottom: 2rem;
    line-height: 1.6;
}

.details h1 {
    font-size: 3rem;
    padding: 3rem 0;
}

.details a {
    font-size: 1.75rem;
}

.details h2 {
    font-size: 2.55rem;
    padding: 3rem 0;
}

@media(max-width: 650px) {

    .details h2 {
        text-align: center;
    }

    .details p {
        margin: 0 auto;
        width: 90%;
    }
}